html
	head
		title CRUD Dengan Nodejs
		Link(rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css")
	body
		nav.nav.navbar-default
			div.container
				a.navbar-brand Kopdar Nodejs
				ul.nav.navbar-nav.pull-right
					li
						a(href="/") Home
					li
						a(href="/buku") Buku
		div.container
			div.row
				br
				div.col-md-12
					block content
		div
			center Footer Kopdar CRUD nodejs


